# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore git
.git/

# Ignore local virtual environments

# Ignore local virtual environments
.venv/
venv/
.env.docker

# Ignore editor files
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs and temp
*.log
tmp/
