fastapi
uvicorn[standard]
requests
python-dotenv
chromadb
langchain
langchain-huggingface
langchain-chroma
langchain-community
pydantic
python-multipart
beautifulsoup4
lxml
transformers
torch
sentence-transformers
pypdf
python-docx
EbookLib
mobi
html2text
pytesseract 
pdf2image 
mutagen
