# Core
PyYAML>=6.0.2
fastapi
uvicorn[standard]
requests
python-dotenv
pydantic
python-multipart

# AI / RAG
chromadb>=0.5.0
langchain
langchain-huggingface
langchain-chroma
langchain-community
transformers
torch
sentence-transformers
pymupdf             # REPLACES: pypdf, ebooklib (Much faster)
python-docx
mobi
html2text
beautifulsoup4
playwright
numpy
openai

# Integrations
caldav
vobject
icalendar
redis
dateparser
python-dateutil

# Utilities
lxml
openpyxl
cryptography
parsedatetime
word2number
pandas
